*{
    margin:0;
    padding:0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
    html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #2d2d2d;
    font-size: 12px;
}
img{
    max-width: 100%;
    height: auto;
}
/* inizio header */
header{
    padding: 20px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    height: 80px;;
}
.fisso{
    background-color: #ffffff;
    position:fixed;
    top: 0;
    margin:auto;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}
nav{
    text-align: right;
    height: 60px;
    line-height: 60px;
}
.menu{
    margin: 0 20px 0 0;
}
.menu a{
    clear: right;
    text-decoration: none;
    color: #2d2d2d;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
}

label{
    margin: 0 40px 0 0;
    font-size: 24px;
    line-height: 40px;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}
nav a:hover,
nav .active{
    border-bottom: 2px solid;
}
header span{
    color: #00a99d;
    font-weight: 600;
}
header nav a span:hover{
    border-bottom: 2px solid #00a99d;
}
header nav .activedifferent{
    border-bottom: 2px solid #00a99d;  
}
/* fine header */
/* inizio aside */
.banner{
    width: 100%;
    height: 700px;
    background: url(immagini/foto2.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 80px 50px 0 50px; 
    margin-top: 80px;
}
div.box{
    background-color: rgba(255, 255, 255, 0.7);
    width: 500px;
    height: 200px;
    padding: 30px;
    position: relative;
    color: #2d2d2d;
}
.basso-a-destra{
    position: absolute;
    bottom: 30px; 
}
aside p{
    text-align: center;
    margin-top: 15px;
}
aside h2{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
/* inizio main */
.trecolonne{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
main .colatre{
    width: 33.333%;
    padding: 8px;
    text-align: center;
}
main h2.titolo-main{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
main article p{
    padding-top: 20px;
    height: 100px;
}
main a{
    text-decoration: none;
}

main article img.col2{
    width: 70%;
    margin: 30px;
    position: relative;
}
main article div.box2{
    background-color: #ffffff;
    width: 600px;
    height: 260px;
    position: absolute;
    left: 600px;
    top: 1800px;
    padding: 30px;
}
main h3.titolo-box{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
main img.sequenza{
    position: absolute;
}
/* inizio footer */
footer h3.titolo-main{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
footer form{
    display: flex;
    justify-content: center;
}
input[type=text] {
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 169, 157, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input.button-verde{
    padding: 12px 20px;
    color: #ffffff;
    border: 3px solid rgba(0, 169, 157);
}
input[type=text]:focus {
    border: 3px solid #00a99d;
}
div.menusocial a span{
    color: #2d2d2d;
    font-size: 35px;
}
footer div.menusocial{
    display: flex;
    justify-content: center;
}
footer div.menusocial h2,a{
    margin-right: 20px;
    margin-top: 70px;
}
footer ul li{
    display: inline-block;
    margin: 5px;
    text-decoration: none;
}
footer ul{
    display: flex;
    justify-content: center;
    margin-top: 20px;  
}
footer p{
    display: flex;
    justify-content: center;
}
footer p.margintop{
    margin-top: 40px;
}
footer p.marginbottom{
    margin-bottom: 40px;
}
.fa-instagram:hover{
    color: #bc2a8d;
}
.fa-facebook-f:hover{
    color:#3b5998;
}
.fa-pinterest:hover{
    color:#c8232c;
}
.fa-youtube:hover{
    color:#c4302b;
}
.fa-twitter:hover{
    color: #00acee;
}
#logo{
    width: 230px;
    height: 54px;
    background-image: url(immagini/logoblack.svg);
    margin-top: auto;
    margin-right: 80px;
}
#logo:hover{
    width: 230px;
    height: 54px;
    background-image: url(immagini/logohome230x54.svg);
}
ul a{
    color: #2d2d2d;
    text-decoration-color: #2d2d2d;
}
/* pagina missione */
.missione{
        background-color: #ffffff;
        width: 600px;
        height: 260px;
        position: absolute;
        left: 700px;
        top: 400px;
        padding: 30px;
    }
.missionebassa{
    background-color: #ffffff;
    width: 600px;
    height: 260px;
    position: absolute;
    left: 700px;
    top: 1100px;
    padding: 30px;
}
.marginmenumissione{
    margin-top: 80px;
}

/* pagina accedi */
main form{
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: black;
}
input[type=number] {
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #00a99d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=password] {
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #00a99d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.pulsante-centro{
    text-align: center;
    margin-top: 100px;
}
.margin-accedi{
    margin-top: 40px;
}
.marginmenuaccedi{
    margin-top: 80px;
    margin-bottom: 150px;
    padding-bottom: 100px;
    padding-top: 50px;
}
.grigio{
    background-color: rgba(225,225,225,0.2);
}
/* pagina Testimonianze */
.slider{
    margin-top: 80px;
    overflow: hidden;
}
.slider figure img{
    width: 20%;
    float: left;
}
.slider figure{
    position: relative;
    width: 500%;
    animation: 15s slider infinite;
}
img{
    max-width: 100%;
    height: auto;
}
@keyframes slider{
    0%{
        left:0%;
    }
    20%{
        left:0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
}
/* pulsanti */
.button-verde{
    color: #2d2d2d;
    text-decoration: none; /* eliminare la sottolineatura del testo */
    background: #00a99d;/* sfondo del bottone */
    padding: .7em 1.5em; /* padding dal testo dal bordo del bottone */
    outline: none; /*  eliminare bordo*/ 
    text-align: center;
}
.button-giallo{
    color: #2d2d2d;
    text-decoration: none; /* eliminare la sottolineatura del testo */
    background: #fdf300;/* sfondo del bottone */
    padding: .7em 1.5em; /* padding dal testo dal bordo del bottone */
    outline: none; /*  eliminare bordo*/
}
.button-sfumato{
    color: #2d2d2d;
    text-decoration: none; /* eliminare la sottolineatura del testo */
    background: rgb(0,169,157);
    background: linear-gradient(90deg, rgba(0,169,157,1) 0%, rgba(253,243,0,1) 100%);
    padding: .7em 1.5em; /* padding dal testo dal bordo del bottone */
    outline: none; /*  eliminare bordo*/
}
.button-facebook{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none; /* eliminare la sottolineatura del testo */
    background: #4267b2;
    padding: 0.7em 2.5em; /* padding dal testo dal bordo del bottone */
    outline: none; /*  eliminare bordo*/
    border-radius: 30px;
}

/* inizio media query da 600 a 1024px */
@media (max-width: 900px){
    label{
        display: block;
        cursor: pointer; 
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        width: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block
    } 
    main article img.col2{
        width: 100%;
    }
    main article div.box2{
        width: 600px;
        height: 260px;
        left: 100px;
        top: 1300px;
    }

}
/* inizio media query da 0 a 600  */
@media(max-width: 600px){
    main{
        display: flex;
        flex-direction: column;
    }
    img.sequenza{
        display:none;
    }
    main article.colatre{
        width: 100%;
    }
    div.box{
        width: 450px;
        height: 300px;
    }
    .banner{
        width: 100%;
        height: 650px;
    }
    main article.colatre img{
        margin-top: 40px;
    }
    main article p{
        padding-top: 20px;
        height: 100px;
    }
    main article div.box2{
        display: none;
    }
    main article div.box3{
        display: block;
        padding: 30px;
    }
    main article img.col2{
        width: 80%;
        margin-left: 20px;
    }
    

}
